@import 'bootstrap/dist/css/bootstrap.min.css';

/* Navbar */
.imgNav{
    height: 30px;
    width: 30px;
}

.imgCarrito{
    height: 30px;
    width: 30px;
}

/* Active */

.menu{
    text-decoration: none;
    color: white;
}
.active{
    color: red;
    text-decoration: none;
}

/* Hero Section */
.imgBackground{
    background-image: url('./assets/img/pizzería.jpg');
    background-size: cover;
    backdrop-filter: brightness(0.7);
}

.hero{
    height: 200px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
}

/* detalle de las cards */
.pizzaCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}
.ingredientes{
    margin: 0;
}

.miniPizza{
    height: 30px;
    width: 30px;
}
.precioCard{
    margin-left: 20px;
    font-size: 25px;
    font-weight: 600;
}
.btnsHome{
    display: flex;
    justify-content: space-evenly;
}



/* Css de detalle de pizza */

.containerPizza{
    margin: 30px;
    border: 2px solid black;
    border-radius: 50px;
    align-items: center;
    display: flex;
    gap: 30px;

}
.imgDetalle{
    height: 300px;

}

.bodyPizza{
    margin-top: 20px;
    padding-right: 30px;
}

.precioPizza{
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.footerPizza{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

/* formatos carrito */
.ingCarrito{
    height: 30px;

}
